.guts{
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 50px;
    background-color : black;
    color: red;
     
  }
  .bull {
    display: inline;
    margin-left: 10px;
    color: green;
    font-weight: 700;
    font-size: 20px;
  }
.login{
   color: white;
   float: right;
   margin-right: 10px;
  }
.block{
    border: 1px solid;
    margin-top: 20px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    
}
.Border-box{
  border: 1px solid;
  
  margin-top: 20px;
  margin-right: 30%;
  margin-left: 30%;
}
.number-inputs{
  margin-top: 30px;
  margin-right: 20px;
}
.buttons{
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid;
    
}
.add{
  background-color: springgreen;
  border: 1px solid springgreen;
  margin-right: 10px;
  box-shadow: 0px 0px 1px gray;
}
.subtract{
  background-color: bisque;
  border: 1px solid bisque;
  margin-right: 10px;
  box-shadow: 0px 0px 1px gray;
}
.divide{
  background-color: chocolate;
  border: 1px solid chocolate;
  margin-right: 10px;
  box-shadow: 0px 0px 1px gray;
}
.multiply {
  background-color: cornflowerblue;
  border: 1px solid cornflowerblue;
  margin-right: 10px;
  box-shadow: 0px 0px 1px gray;
}
.clear{
  background-color: red;
  border: 1px solid red;
  margin-right: 10px;
  box-shadow: 0px 0px 1px gray;
}
.head{
  font-size: 30px;
}

.create{
  text-align: center;
  margin-top: 10px;
   
}

.fill{
  border: 2px solid black;
  margin-left: 10px;
}

.Increment{
  text-align: center;
}
.dark{
  
  padding-left: 40px !important;
  padding-right: 40px !important;
  margin-right: 10px;
}
.dark1{
  padding-left: 38px !important;
  padding-right: 40px !important;
  /* background-color: orange !important; */
  margin-right: 5px;
  width: 93px !important;
  height: 40px;
}
.rows{
  text-align: center;
}
.container {
  
  margin-top: 30px;
  text-align: center;
  
}
.input1 {
  width: 35%;
  text-align: right;
  font-size: 60px;
  padding-right: 30px;
}
.container-box{
  margin-top: 20px ;
  margin-bottom: 20px;
  align-self: center;
}


